@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Roboto:wght@100;300;400;500;600&family=PT+Serif:wght@100;300;400;500;600&family=Playfair+Display:wght@400;500;600;700;800&display=swap');

* {
	margin: 0;
  padding: 0;
  outline: 0;
}
html,
body {
  font-size: 16px;
  height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
    min-height: 100%;
    max-width: 1700px;
    margin: auto;
}
.top-nav{
  width: 72%;
  display: flex;
  flex-direction: column;
}
.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu a{
    text-decoration: none;

}
.menu a:hover{
    color:#3685FB;
}
.burger{

  width: 4rem;
  height: 4rem;
  display: none;
}
.cross{
  display: none;
  width: 4.2rem;
  height: 4.2rem;
}
.links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 58%;
}


.about{
  width: 50%;
}

.font-text{
  font-family: 'Oxygen', sans-serif;
}
.font-header{
  font-family: 'Playfair Display';
}
.bg-bage{
  background-color: #F8F8F8;
}
.register-button{
  border-radius: 0.6rem !important ;
  padding: .8rem 1.9rem !important;
}
.basic-button{
  border-radius: 0.6rem !important ;
  padding: .9rem 3rem !important;
}
.images-header{
  position: relative;
}
.rounded-image{
  border: 0.625rem solid;
  border-color: #FFF;
  border-radius: 35rem;
}
.images-header .img-2{
  position:absolute;
  left: 35%;
  top: 25%;
}
.small-text{
  font-size: 1rem;
  line-height: 1.75rem;
}
.margin-small-text{
  margin-top: 1.25rem;
  margin-bottom: 3.12rem;
}
.medium-text {
  font-size: 2.62rem;
}
.big-text{
  font-size: 2.7rem;
  font-weight: 800;
}
.green-color{
  color:#00B3A0 ;
}
.dark-color{
color:#002248 ;
}
.light-color{
  color: #697687;
}
.blue-color{
  color: #3685FB;
}
.blue-back{
  
  background-color: #3685FB !important;
}
.filter-block{
  padding: 2.9rem 4.5rem ;
  height: 100%;
}
.round-left{
  border-radius: 1.9rem 0 0 1.9rem;
}
.round-right{
  border-radius: 0 1.9rem 1.9rem 0;
}
.font20{
  font-size: 1.25rem;
}
.font-roboto{
  font-family: 'Roboto', sans-serif;
  
  font-weight: 550;
}
.filters-container{
  display: flex;
  flex-direction: row;
  padding-left: 3rem!important;
  padding-right: 3rem!important;
  position: relative;
  bottom: -5rem;
}
.bg-pure-white{
   background: rgba(252, 252, 252, 1);
  
}
.block{
  padding: 7.5rem 0;
}
.lower-1{
  padding-top: 5rem;
}
.weight500{
  font-weight: 500;
}
.weight600{
  font-weight: 600;
}
.weight700{
  font-weight: 700;
}
.weight400{
  font-weight: 400;
}
.light-border{
  border: 2px solid #F8F8F8 !important;
}
.w-30{
  width: 30%;
}
.my-card{
  padding-bottom: 4.3rem !important;
  flex-direction: column;
  justify-content: end;
}
.my-card img{
  margin: 3.2rem auto 2.3rem auto;
}
.btn-arrow{
  background-color: #FFF;
  border: none;;
  border-radius: 5px;
  width: 3.1rem;
  height: 3.1rem;
}
.btn-arrow img{
  content: url(./Vector\ \(1\).png);
}
.btn-arrow:hover{
  background-color: #3685FB;
}
.btn-arrow:hover .arrowleft{
  border-color: #FCFCFC;
}
.btn-arrow:hover .arrowright{
  border-color: #FCFCFC;
}
.arrowright {
	height: 1rem; 
  width: 1rem;
	border: 4px solid #697687;
	border-width: 4px 4px 0 0;
	border-radius:3px;
	transform: rotate(45deg);
  margin: auto;
}
.arrowleft {
	height: 1rem; width: 1rem;
	border: 4px solid #697687;
	border-width: 4px 4px 0 0;
	border-radius:3px;
	transform: rotate(-135deg);
  margin: auto;
}

.location-img{
  
  width: 100%;  
  position: relative;
}
.location-img >img{
  border: 0.4rem solid #fff;
  border-radius: .7rem;
  position: relative;
  width: 100%;
}
.locations{
  justify-content: space-between;
}
.blur {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  border: 1px solid;
  transform: translate(-50%, 50%);
  left: 50%;
  bottom: 15%;
  border-image-source: linear-gradient(
96.34deg, #989898 -0.03%, rgba(255, 255, 255, 0) 99.97%);
  border-radius: 10px;
  width: 85%;
  height: 22%;
  background: rgba(0, 34, 72, 0.2);
  backdrop-filter: blur(10px);
  padding: 1.25rem;
}
.blur img{
  width: 1rem;
  height: 0.9rem;
  margin-left: 2px;
}
.w-32{
  width: 31%;
}
.margin20-top{
  margin-top: 4.4rem!important;
}
.margin20-bottom{
  margin-bottom: 4.4rem!important;
}
.video{
  position: relative;
  overflow: hidden;
}
.follow-us{
    justify-content: end;
  }
.play-stop-button .out{
  position: absolute;
  border-radius: 50%;
  background-color: #FFF ;
  width: 7.5rem;
  height: 7.5rem;
  opacity: .3;
  top:50%;
  left:23%;
  transform: translate(-50%, -50%);
}
.play-stop-button .in{
  z-index: 5;
  top:50%;
  left:23%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  background-color: #FFF ;
  width: 4.8rem;
  height: 4.8rem;
  opacity: 1;
  align-self: center;
}
.play-button{
  position: absolute;
  z-index: 7;
  top:50%;
  left:23%;
  transform: translate(-50%, -50%);
  width: 1.4rem;
}
.map{
  position: absolute;
  z-index: 3;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 95%;
  object-fit:cover;
  right: -75%;
}
.check-inst{
  width: 75% !important;
}
.map-greed{
  position: absolute;
  z-index: 5;
  width: 20%;
  right: 0;
  bottom: -7%;
}
.compas{
  position: absolute;
  z-index: 5;
  width: 12%;
  right: 32%;
  bottom: -4%;
}
.text{
  position: absolute;
    right: 3%;
    width: 33%;
    bottom: 28%;
    z-index: 10;
}
.statistic-card{
  padding: 2rem 0 ;
  margin-top: 6%;
  align-content: center;
  width: 48%;
  border-radius: 10px!important;
}
.statistic-card .number{
  font-size: 2rem;
  font-family: 'PT Serif', serif;
  font-weight: 600;
}
.statistic-card .font-roboto{
  font-size: 1rem;
}
.statistic{
  margin-top: 3rem;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.images-statistic{
  position: relative;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.images-statistic .img-2{
  position:absolute;
  left: 45%;
  top: 30%;
}
.customer-says{
    position: relative;
}

.users-map{
  position: relative;
  overflow: hidden;
}
.user img{
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  
}
.quote{
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 0;
  left: 50%;
  background-color: #FFF;
  border-radius: .7rem;
  width: 40%;
  padding: 1.9rem 3.1rem;
  text-align: center;
}
.quote .small-text{
  font-size: 0.875rem;

}
.quote .dark-color{
  font-size: 0.75rem ;
}
.quote .user-role{
  font-size: 0.625rem;
}
.quote-scroll{
  transform: translate(-50%, -50%);
  position: absolute;
  bottom: -10%;
  left: 50%;
}
.user ._1{
  top: 83%;
    left: 20%;
}
.user ._2{
  transform: translate(-50%, -50%);
  top: 16%;
    left: 50%;
}
.user ._3{
  top: 53%;
    left: 10%;

}
.user ._4{
  top: 30%;
  left: 20%;
}
.user ._5{
  top: 7%;
    left: 16%;
}
.user ._6{
  top: 38%;
    left: 87%;
}
.user ._7{
  top: 70%;
    left: 80%;
}
.user ._8{
  top: 28%;
    left: 75%;
}
.insta-images{
  overflow: hidden;
  margin-top: 4.37rem;
}
.insta-images img{
  width: 20rem;
  margin: 0 2%;
}
.insta-images .round{
  border-radius: 35rem;
}
.insta-images .square{
  border-radius: .7rem;
}
.contact-us{
  
  background-color: #F3F8FF;
  border-radius: 2.5rem;
  width: 95%;
  margin:auto;
}
.contact-us .t{
  padding: 4.37rem 0 4.37rem 5rem;
}
.contact-us .medium-text{
 font-size: 3.25rem;
}
.contact-us .image{
  position: relative;
  width: 30%;
}
.contact-us .image img{
  position: absolute;
  bottom: 0;
  right: 4rem;
  height: 90%;
}
.social-icons{
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.social-icon{
  border: 1px solid #697687;
  box-sizing: border-box;
  border-radius: 50%;
  width:2.5rem;
  height:2.5rem;
  position: relative;
  margin-left: 5%;
}
.social-icon img{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
    left: 50%;
    
}
.line{
  border: 0.75px solid rgba(105, 118, 135, 0.1);
}
.round-border{
  border-radius: .8rem;
}
.filter-block .dark-color img{
  width: .8rem;
  height: .5rem;
  margin-left: .3rem;
}
.start{
  padding: 3rem 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media (max-width:1400px) {
  html,body{
    font-size: 15px;
  }
  .filter-block {
    padding: 2rem 3rem ;
  }
  .filter-block .dark-color img{
    width: .8rem;
    height: .5rem;
  }
  .filter-block img{
    width: 1.375rem;
    height: 1.5rem;
  }
  
  .filters-container{
    padding: 0 ;
  bottom:-4.5rem;
  }
  .filters-container .round-left{
    padding: 0 ;
  }
  .about{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 200% ;
  }
  .images-statistic{
    display: none;
  }
   .text-about{
     margin: auto;
    width: 70%;
  }
  .statistic{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 2rem;
}
  
  .statistic-card{
    width: 35%;
    margin-top:2rem;
  }
  .quote{
    padding: 1.6rem 2rem;
  }
  .quote > img{
    width: 1.7rem;
    height: 1.7rem;
  }
  .block{
    padding: 6rem 0;
  }
  .contact-us{
    width: 70%;
  }
  .contact-us .t {
    padding: 3rem 0 3rem 3.5rem;
  }
  .contact-us .medium-text {
    font-size: 2.8rem;
  }
  .contact-us .image img {
    right: 3rem;
  }
  .rounded {
    border-radius: 5rem!important;
  }
}
@media screen and (max-width: 1200px) {
  .filter-block {
    padding: 1.8rem 2.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .filters-container{
    padding: 0 ;
  }
  .filters-container .round-left{
    padding: 0 ;
  }
  .contact-us{
    width: 100%;
  }
  .blur .font20{
    font-size: 1.1rem;
  }
  .blur .small-text{
    font-size: .8rem;
  }
  .blur img{
    width: .8rem;
    height: .75rem;
  }
  .blur{
    padding: 1.1rem;
  }
  .insta-images img{
    width: 16rem;
  }
  .quote .small-text {
    font-size: 0.8rem;
}
.quote .user-role {
  font-size: 0.575rem;
}
.quote .dark-color {
  font-size: 0.7rem;
}
.quote{
  bottom: -3rem;
  padding: 1.5rem 1.1rem;
}
  
}

@media screen and (max-width: 1200px) and (min-width:993px) {
  
  .my-card .font20{
    font-size: 1.15rem;
  }
  .my-card .small-text{
    font-size: .85rem;
  }
  .my-card img{
    margin: 2.8rem auto 2.3rem auto;
    width: 25%;
  }
  .my-card {
    
    padding-bottom: 3.8rem !important;
  }
  .my-card .star{
    width: 33%;
  }
}
@media (max-width:993px) and (min-width:992px){
  .blur .font20{
    font-size: 1.4rem !important;
  }
  .blur .small-text{
    font-size: 1rem !important;
  }
  .blur img{
    width: 1.1rem !important;
    height: 1.05rem !important;
  }
  .blur{
    padding: 1.3rem !important;
  }
}
@media screen and (max-width: 992px){
  html, body{
    font-size: 13px;
  }
  .filter-block .font20{
    font-size: 1.1rem;
    margin-bottom: .6rem;
  }
  .filter-block {
    padding: 1.6rem 2.4rem;
  }
  .top-nav{
    align-items: flex-end;
  }
  .menu{
    display: none;
    width: 100%;
    flex-direction: column!important;
    align-items: flex-end;
  }
  .burger{
    display:block;
  }
  .links{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    align-self: flex-end;
    text-align: end;
  }
  .links a{
    margin: .25rem 0;
  }
  .menu button{
    margin: .5rem 0;
    font-size: 1.3rem;
  }
  .images-header .img-2{
    display: none;
  }
  .images-header  > img{
    width: 85%;
  }
  .cards{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly !important;
    align-content: center !important;
    flex-wrap: wrap;
  }
  .my-card{
    background-color: #F8F8F8;
    width: 100%;
    height: 15rem;
    flex-direction: row !important;
    justify-content: space-around !important;
    margin: auto;
    margin-bottom: 2%;
    padding:  2rem 1rem;
    padding-bottom:2rem !important ;
  }
  .my-card img{
    width: 20%;
    margin: 0 2rem;
    align-self: center;

  }
  .my-card.reverse{
    flex-direction: row-reverse !important;
    
  }
  .reverse .card-text{
    text-align: end !important;
  }
  .card-text{
    justify-content: center;
    text-align: start;
    display: flex;
    flex-direction: column;

  }
  .card-text .small-text{
    margin:  0 !important;
  }
  .card-text .font20{
    margin-top:0 !important ;
  }
  .filter-block {
    padding: 1.8rem 2.3rem
  }
  .filter-block .font20 img{
    width: .8rem;
    height: .55rem;
  }
  .filters-container{
    bottom: -4rem;
  }
  .blur .font20{
    font-size: .9rem;
  }
  .blur .small-text{
    font-size: .7rem;
  }
  .blur img{
    width: .8rem;
    height: .75rem;
    margin-left: 1%;
  }
  .blur{
    height: 20%;
    padding: .8rem 1rem;
  }
  .text{
    bottom:23%;
  }
.quote{
      transform: 0; 
     bottom: none; 
     left: none;
     position: relative;
     width: 70%;
     margin-top: 3.5rem;
}
  .users-map{
    display: none;
  }
  .customer-says{
    display: flex;
    flex-direction: column;
  }
  .customer-says .text-center{
    width: 80% !important;
  }
  .text .small-text{
    font-size: .85rem;
  }
  .text .medium-text{
    font-size: 2.35rem;
  }
}
@media screen and (max-width:768px){
  html,body{
    font-size: 12px !important;
  }
  .burger, .cross{
    width: 3rem;
    height: 3rem;
  }
  .register-button{
    padding: .6rem 1.9rem !important;
  }
  .register-button .small-text{
    font-size: 1.1rem;
  }
  .locations {
    justify-content: space-around;
}
  .filters-container{
    flex-direction: column !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: unset;
    margin-bottom: 4rem;
  }
  .filters-container .w-75{
    flex-direction: column !important;
    width: 100% !important;
    border-radius:  1.9rem   1.9rem 0 0 !important;
  }
  .filters-container .w-25{
    width: 100% !important;
    border-radius: 0 0 1.9rem   1.9rem !important;
  }
  .filter-block .font20{
    font-size: 1.6rem;
    margin-bottom: .6rem;
    display: flex;
    justify-content: space-between;
  }
  .filter-block .small-text{
    font-size: 1.2rem;
  }
  .filter-block {
    padding: 1.6rem 3.3rem;
  }
  .filter-block .calendar-icon{
    display: none;
  }
  .filter-block .font20 img {
    width: 1.6rem;
    height: 1rem;
    align-self: flex-end;
}
  .filter-block .text-white{
    padding-top:0 !important ;
  }
  .lower-1 {
     padding-top: 0; 
  }
  .start .images-header{
    display: none;
  }
  .locations .w-32.third{
    display: none;
  }
  .locations .w-32{
    width: 38%;
  }
  .map{
    display: none;

  }
  .compas{
    display: none;
  }
  .map-greed{
    display: none;
  }
  .video >img{
    opacity: .3;
  }
  .video .text{
    width: 45%;
  }
  .play-stop-button .out{
    opacity: .7;
    background-color:  #002248;
  }
  .statistic{
    width: 70%;
  }
  .insta-images img {
    width: 12em;
  }
  .contact-us .image img{
    height: 70%;
    right: 2rem;
  }
  .contact-us .w-75{
    width: 100% !important;
  }
  footer .container{
    flex-direction: column !important;
    justify-content: center !important;
  }
  footer .menu{
    margin: .5rem auto  1.3rem !important;
  }
  footer .container >.d-flex{
    margin-left: auto !important;
    margin-right: auto;
    width: 70% !important;
    align-items: center;
  }
  footer .container:nth-child(2){
    padding-top: 1.5rem  !important;
    padding-bottom: 1.5rem  !important;
  }
  .my-card{
    height: 12.5rem;
  }
  .my-card img{
    margin: 0 1rem;
  }
  footer .logo img{
    margin: auto;
  }
  .social-icon{
    margin: 0 2rem !important;
  }
  .social-icons{
    
    justify-content: center !important;
  }
  .video .text button{
    margin-bottom: 0 !important;
  }
  
}
@media screen  and (max-width:576px){
  .locations{
    justify-content: space-around;
  }
  .start-text{
    width: 95%;
    text-align: center;
    margin: auto;

  }
  .cards-intro .small-text.light-color{
    width: 80% !important;
  }
  .block{
    padding: 3rem .5rem;
  }
  .locations .w-32{
    width: 45% !important;
  }
  .blur .font20 {
    font-size: 1rem;
  }
  .blur .small-text {
    font-size: .8rem;
  }
  .play-stop-button .out {
    width: 5.5rem;
    height: 5.5rem;
  }
  .play-stop-button .in {
    width: 3.3rem;
    height: 3.3rem;
  }
  .play-button {
    width: 1rem;
  }
  .video .text {
    bottom: 17%;
  }
  .video .text .small-text.light-color{
    margin-bottom: 1.3rem !important;
  }
  .check-inst{
    width: 100% !important;
  }
  .follow-us{
    justify-content: start;
    margin-top: 1.3rem !important ;
  }
}
@media screen and (max-width:546px){
  .video .text {
    bottom: 17%;
  }
  
}
@media screen and (max-width:515px){
  .contact-us .image {
    display: none !important;
  }
  .contact-us .t {
    padding: 2.7rem;
  }
  .contact-us button{
    margin-top: 1.5rem !important;
  }
  .locations >*{
    display: none !important;
  }
  .locations .w-32:nth-child(1){
    display: block !important;
    width: 70% !important;
  }
  .blur .font20 {
    font-size: 1.3rem;
  }
  .blur .small-text {
    font-size: 1rem;
  }
  .blur {
    padding: 1.35rem 1rem;
  }
  .blur img {
    width: 1rem;
    height: 0.9rem;
  }
}
@media screen and (max-width:500px){
  html,body{
    font-size: 11px !important;
  }
}
@media screen and (max-width:470px){
  .basic-button {
    border-radius: 0.6rem !important;
    padding: 0.7rem 2.4rem !important;
  }
}
@media screen and (max-width:440px){
  .video .text{
    bottom: 10% !important;

    width: 50%;
  }.insta-images{
    margin-top: 3.8rem !important;
  }
  .btn-arrow{
    margin-top: 1rem;
  }}
  @media screen and (max-width:400px){

  footer .container .menu{
    width: 90% !important;
  }
  .insta-images img {
    width: 9rem;
  }
  .blur .d-flex:first-child{
    flex-direction: column-reverse !important;
  }
  .blur .d-flex .d-flex{
    justify-content: flex-start !important;
    margin-bottom: .5rem;
  }
  .blur {
    height: 23%;
    padding: 1rem 1rem;
  }
  .blur {
    margin-left: 0;
    margin-right: 1%;
  }
  .video .text {
    bottom: 10% !important;
    width: 60%;
  }
  .text .medium-text {
    font-size: 1.8rem;
}
.play-stop-button .out {
  width: 4.4rem;
  height: 4.4rem;
}
.play-stop-button .in {
  width: 2.4rem;
  height: 2.5rem;
}
.play-button {
  width: .7rem;
  }
  .video .text .small-text.light-color  {
    font-size: 1rem;
    margin-top: .8rem !important;
    margin-bottom: .8rem !important;
  }
}
@media screen and (max-width:360px){
  .video{
    font-size: 10px;
  }
  .video .text{
    width: 62%;
  }
  .video .text .small-text.light-color {
    font-size: .8em;
    margin-top: 0.8em !important;
    margin-bottom: 0.8em !important;
}
.video .text .small-text.green-color {
  font-size: .8em;
}
  .video .basic-button {
    border-radius: 0.4em !important;
    padding: 0.5em 2em !important;
    font-size: .8em !important;
  }
  .play-stop-button .out {
    width: 3.8rem;
    height: 3.8rem;
  }
  .play-stop-button .in {
    width: 1.8rem;
    height: 1.8rem;
  }
  .play-button {
    width: .5rem;
    }
}
