<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <header class="bg-bage">
            <div class="container d-flex pt-3 flex-row justify-content-between">
                <div class="logo w-25">
                    <img src="./Logo.png" alt="logo" width="106px">
                </div>
                <div class="top-nav" >
                    <img class="burger" src="./icons8-меню-50.png"  alt="">
                    <img class="cross" src="./icons8-удалить-24.png"  alt="">
                    <div class="menu font-text  " >
                        <div class="links">
                            <a class="dark-color" href="">Home</a>
                            <a  class="dark-color"href="">About</a>
                            <a  class="dark-color"href="">Packaged</a>
                            <a class="dark-color" href="">Contact Us</a>
                            <a class="dark-color" href="">FAQ</a>
                        </div>
                        <button class="btn btn-primary small-text blue-back register-button">Register</button>
                    </div>
                </div>
                
            </div>
            <div class="container  d-flex flex-column">
                <div class="d-flex flex-column">
                    <div class="container  pt-3">
                        <div class="row start ">
                            
                            <div class="col-12 col-md-6 p-0 m-auto  start-text">
                                <div class="d-flex flex-column justify-content-center ">
                                    <div class="small-text green-color font-text">
                                        Book Now
                                    </div>
                                    <div class="big-text dark-color font-header"> 
                                        Let’s Enjoy Your Trip With TripGoal <img src="./start-up 1.png" width="35px" alt=""> 
                                    </div>
                                    <div class="small-text font-text light-color mt-3 mb-5">Thinking of taking a break from every day's busy life? Planning to go out of the country with your 
                                        loved ones to have some fun and quality time in a cost-effective way?</div>
                                    <div>
                                        <button class="btn btn-primary basic-button small-text font-text blue-back">Start Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 p-0">
                                <div class="images-header">
                                    <img src="./image 4.png" width="60%" class="rounded-image" alt="">
                                    <img src="./image 3.png" width="50%" class="img-2 rounded-image" alt="">
                                </div>                      
                            </div>
                        </div>
                    </div>
                    <div class=" filters-container">
                        
                            <div class="d-flex flex-row justify-content-around w-75 bg-white round-left">
                                <div class=" filter-block">
                                    <p class=" font-roboto dark-color font-weight-bold font20 align-bottom">Location <img class="pl-2" src="./Vector.png" alt=""></p>
                                    <div class="light-color small-text">Select</div>
                                </div>
                                <div class="  filter-block">
                                    <p class="font-roboto dark-color font-weight-bold font20">Your Category <img class="pl-2" src="./Vector.png" alt=""></p>
                                    <div class="light-color small-text">Select</div>
                                </div>
                                <div class=" filter-block">
                                    <p class="font-roboto dark-color font-weight-bold font20">Total Person <img class="pl-2" src="./Vector.png" alt=""></p>
                                    <div class="light-color small-text">Select</div>
                                </div>
                            </div>
                        
                        <div class="w-25 round-right blue-back">
                            <div class=" filter-block   d-flex flex-column justify-content-center">
                                <img class="m-auto calendar-icon" src="./calendar.png" alt="">
                                <p  class="text-white font20 weight700 m-auto pt-3 font-text">Book Now</p>
                            </div>
                        </div>
                </div>
                </div>
                
                
            
                
            </div>
            <div class="bg-pure-white lower-1">
                <div class="block text-center">
                    <div class="d-flex flex-column justify-content-center mb-5 cards-intro">
                        <div class="green-color small-text weight500">3 steps for the perfect trip</div>
                        <div class="medium-text dark-color font-header weight600 text-capitalize">Find travel perfection</div>
                        <div class="small-text light-color weight400 font-text my-3  px-5 w-50 m-auto">
                            Naturally head of the class whenit comes to luxury travel  planning, because we do more homework than anyone else
                        </div>
                    </div>
                    <div class="container cards d-flex flex-row justify-content-between ">
                        <div class="my-card d-flex   light-border round-border text-center w-30">
                            <img  src="./Chat.png" width="30%"  alt=""> 
                            <div class="card-text">
                                <div class="font-roboto dark-color font-weight-bold my-4 font20">Tell us what you want to do</div>
                                <div class="small-text font-text  light-color weight400 mx-4 ">Fill out a 2-minute questionnaire about how you like to travel</div>
                            </div>
                            
                        </div>
                        <div class="my-card d-flex reverse  light-border round-border text-center w-30">
                            <img src="./Calendar (1).png" width="30%" alt="">
                            <div class="card-text">
                                <div class="font-roboto dark-color font-weight-bold my-4 font20">Share your travel preference</div>
                                <div class="small-text font-text  light-color weight400 mx-4 ">It all happends online,We recommend everything to your vision</div>
                            </div>
                            
                        </div>
                        <div class=" my-card d-flex   light-border round-border text-center w-30">
                            <img class="star"  src="./Star.png" width="40%"  alt="">
                            <div class="card-text">
                                <div class="font-roboto dark-color font-weight-bold my-4 font20">We’ll give you recommendations</div>
                                <div class="small-text font-text light-color weight400 mx-3 ">Once you’re happy with your final plan, We handle everything for you</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div style="position: relative;">
                <div class="block bg-bage">
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col-sm-9 col-xl-6">
                                <div class="d-flex flex-column justify-content-start ">
                                    <div class="green-color small-text weight500">Location</div>
                                    <div class="medium-text dark-color font-header weight600 text-capitalize">Suggested Location</div>
                                    <div class="small-text light-color weight400 font-text mt-3   m-auto">
                                        Travel is my life. Since 1999, I’ve been traveling around the world nonstop. If you also love travel, you’re in the right place!
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 align-self-end">
                                <div class="d-flex  justify-content-end">
                                    <div class="d-flex  flex-row">
                                        <button class="btn-arrow mx-2"><div class="arrowleft"></div></button>
                                        <button class="btn-arrow"><div class="arrowright"></div></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex  mt-5 locations">
                            <div class="w-32 ">
                                <div class="location-img d-flex flex-column justify-content-end"  >
                                    <img src="./image 5.png" alt="">
                                    <div class="blur  d-flex flex-column justify-content-between"> 
                                        <div class="d-flex justify-content-between">
                                            <div class="font-header text-white font20 weight500 lh-1"> Bali Handara Gate   </div>
                                            <div class="d-flex justify-content-between align-items-end">
                                                <img src="./Group.png"   alt="">
                                                <img src="./Group.png"  alt="">
                                                <img src="./Group.png"  alt="">
                                                <img src="./Group.png" alt="">
                                                <img src="./Group.png" alt="">
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <div class="font-text text-white small-text weight500 lh-1 align-self-center"> Indonesia  </div>
                                            <div class=" font20 text-white font-text">$1200</div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="w-32 ">
                                <div class="location-img d-flex flex-column justify-content-end"  >
                                    <img src="./image 5 (1).png"  alt="">
                                    <div class="blur  d-flex flex-column justify-content-between"> 
                                        <div class="d-flex justify-content-between">
                                            <div class="font-header text-white font20 weight500 lh-1"> Buddhist shrine   </div>
                                            <div class="d-flex justify-content-between align-items-end">
                                                <img src="./Group.png"   alt="">
                                                <img src="./Group.png"  alt="">
                                                <img src="./Group.png"  alt="">
                                                <img src="./Group.png" alt="">
                                                <img src="./Group.png" alt="">
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <div class="font-text text-white small-text weight500 lh-1 align-self-center"> Tokyo, Japan </div>
                                            <div class=" font20 text-white font-text">$1200</div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="w-32 third">
                                <div class="location-img d-flex flex-column justify-content-end"  >
                                    <img src="./image 5 (2).png" alt="">
                                    <div class="blur  d-flex flex-column justify-content-between"> 
                                        <div class="d-flex justify-content-between">
                                            <div class="font-header text-white font20 weight500 lh-1"> Rialto Bridge  </div>
                                            <div class="d-flex justify-content-between align-items-end">
                                                <img src="./Group.png"   alt="">
                                                <img src="./Group.png"  alt="">
                                                <img src="./Group.png"  alt="">
                                                <img src="./Group.png" alt="">
                                                <img src="./Group.png" alt="">
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <div class="font-text text-white small-text weight500 lh-1 align-self-center"> Italy  </div>
                                            <div class=" font20 text-white font-text">$1200</div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="video">
                    <img src="./image 6.png" style="position: relative;" width="100%" alt="">
                    <div class="play-stop-button">
                        <div class="out">
                            
                        </div>
                        <div class="in">

                        </div>
                        <img class="play-button" src="./Vector 1.png" alt="">
                    </div>
                    <img class = "map"src="./map.png" alt="">
                    <div class="d-flex flex-column justify-content-between text ">
                    <div class="green-color small-text weight500">Take a Tour</div>
                    <div class="medium-text dark-color font-header weight600 text-capitalize">Discover Our Travel Guideline</div>
                    <div class="small-text light-color weight400 font-text mt-3 mb-5  m-auto">
                        For curious travelers who want to connect locally and go deeper into a place. 
                        Our Experiential Travel Guides highlight offbeat and local experiences that help you.
                    </div>
                    <div>
                        <button class="btn btn-primary basic-button small-text font-text blue-back">Start Now</button>
                    </div>
                </div>
                </div>
                
                <img class="map-greed" src="./Vector (3).png" alt="">
                <img class ="compas"src="./image 10.png" alt="">
                
            </div>
            <div class="block container d-flex">
                <div class="d-flex about  flex-column justify-content-between ">
                    <div class="text-about"><div class="green-color small-text weight500">About Us</div>
                    <div class="medium-text dark-color font-header weight600 text-capitalize">The Perfect Travel Place For You & Your Family</div>
                    <div class="small-text light-color weight400 font-text mt-3   m-auto">
                        how travel can be one of the best tools for personal growth. We share some of the
                            life lessons we've learned on the road that has provided us insight into empathy, mindfulness, 
                        meditation, comfort zones, two-way storytelling, being present, connection and more.
                    </div></div>
                    
                    <div class=" statistic ">
                        <div class="light-border  statistic-card ">
                            <div class="d-flex flex-column justify-content-between text-center">
                                <div class="number fony-header blue-color  w-100">10M+</div>
                                <div class="font-roboto dark-color font-weight-bold mt-2 text-capitalize">Visitors</div>
                            </div>
                        </div>
                        <div class="light-border  statistic-card ">
                            <div class="d-flex flex-column justify-content-between text-center">
                                <div class="number fony-header blue-color  w-100">109</div>
                                <div class="font-roboto dark-color font-weight-bold mt-2 text-capitalize">Hotels</div>
                            </div>
                        </div>
                        <div class="light-border  statistic-card ">
                            <div class="d-flex flex-column justify-content-between text-center">
                                <div class="number fony-header blue-color  w-100">29</div>
                                <div class="font-roboto dark-color font-weight-bold mt-2 text-capitalize">Food Shop</div>
                            </div>
                        </div>
                        <div class="light-border  statistic-card ">
                            <div class="d-flex flex-column justify-content-between text-center">
                                <div class="number fony-header blue-color  w-100">18</div>
                                <div class="font-roboto dark-color font-weight-bold mt-2 text-capitalize">Related Spots</div>
                            </div>
                        </div>
                        
                    </div>
            
                </div>
                
                <div class="w-50 images-statistic align-items-end">
                    <img src="./image 9.png" width="50%" class="img-2 rounded-image" alt="">
                    <img src="./image 28.png" width="60%" class="rounded-image" alt="">
                </div>
            </div>
            <div class="block bg-bage ">
                <div class="container customer-says">
                    <div class="text-center w-50 m-auto">
                        <div class="green-color small-text weight500">Testimonials</div>
                        <div class="medium-text dark-color font-header weight600 text-capitalize lh-1">What Our Customer Say About Us</div>
                        <div class="small-text light-color weight400 font-text mt-4 mb-5  m-auto">
                            What customers says about our service and guideline. Customers compliment is most important to upgradation of bussiness service 
                        </div>
                    </div>
                    <div class="users-map">
                        <img src="./Vector (4).png" width="100%" alt="">
                        <div class="user">
                            <img class="_1" src="./image 11.png" alt="">
                            <img class="_2" src="./image 12.png" alt="">
                            <img class="_3" src="./image 13.png" alt="">
                            <img class="_4" src="./image 14.png" alt="">
                            <img class="_5" src="./image 15.png" alt="">
                            <img class="_6" src="./image 16.png" alt="">
                            <img class="_7" src="./image 19.png" alt="">
                            <img class="_8" src="./image 20.png" alt="">
                        </div>
                        
                    </div><div class="quote d-flex flex-column justify-content-between">
                            <img src="./quotation 1.png" class="m-auto" width="30px" alt="">
                            <div class="small-text light-color weight400 font-text my-3   m-auto">
                                I have traveled and explored several destinations using this platform,
                                    no doubt it is highly recommended for traveling because it is comfortable and the service is great.
                            </div>
                            <div class="font-roboto dark-color font-weight-bold  text-capitalize">Adam L. Brian</div>
                            <div class="user-role light-color weight400 font-text">Traveller</div> 
                            
                        
                        <div class="d-flex justify-content-between quote-scroll">
                            <img src="./Rectangle 46.png" alt="">    
                            <img class = "mx-1"src="./Rectangle 45.png" alt="">
                                <img src="./Rectangle 46.png" alt="">
                        </div></div>
                </div>
            </div>
            <div class="block ">
                <div class="container">
                    <div class="row ">
                        <div class="col-12 col-sm-8">
                            <div class="d-flex flex-column justify-content-start ">
                                <div class="green-color small-text weight500 text-capitalize">Social Feed</div>
                                <div class="medium-text dark-color font-header weight600 text-capitalize lh-1 mt-1 check-inst">Check Our Instagram Profile</div>
                                
                            </div>
                        </div>
                        <div class="col-sm-4  align-self-end d-flex  follow-us">
                            <button class="btn btn-primary basic-button small-text font-text blue-back">Follow Us</button>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between overflow-hidden insta-images ">
                    <img  class="round" height="100%" src="./image 27.png" alt="">
                    <img  class="square" height="100%" src="./image 22.png" alt="">
                    <img  class="round" height="100%" src="./image 27.png" alt="">
                    <img  class="square" height="100%" src="./image 23.png" alt="">
                    <img  class="round" height="100%" src="./image 27.png" alt="">
                </div>
            </div>
            <div class="block container">
                <div class="contact-us d-flex justify-content-between">
                    <div class="d-flex t flex-column w-75">
                        <div class="green-color small-text weight500 text-capitalize">Contact Us</div>
                        <div class="medium-text dark-color font-header weight700 text-capitalize w-75  mt-2">Do You Have Any Questions?</div>
                        <div>
                           <button class="btn btn-primary mt-5 basic-button small-text font-text blue-back">Contact Us</button> 
                        </div>
                        
                    </div>
                    <div class=" image">
                        <img  src="./happy-woman-holding-her-baggage-plane-ticket 1.png" alt="">
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="container d-flex flex-row justify-content-between">
                <div class="logo d-flex w-25">
                    <img src="./Logo.png" alt="logo" width="106px">
                </div>
                <div class="menu font-text  w-50 d-flex flex-row align-items-center justify-content-between">
                    <a class="dark-color" href="">Home</a>
                    <a  class="dark-color"href="">About</a>
                    <a  class="dark-color"href="">Packaged</a>
                    <a class="dark-color" href="">Contact Us</a>
                    <a class="dark-color" href="">FAQ</a>
                </div>
                <div class=" w-25 d-flex  social-icons">
                    <div class="social-icon">
                        <img   src="./facebook-f.png" width="22%"height="41%" alt="">
                    </div>
                    <div class="social-icon">
                        <img   src="./Vector (5).png" width="36%"height="36%" alt="">
                    </div>
                    <div class="social-icon">
                        <img   src="./Vector (6).png" width="46%"height="46%" alt="">
                    </div>
                    
                    
                </div>
            </div>
            <div class="container py-5">
                <div class="line  ">
                </div> 
                <div class="small-text light-color weight400 font-text text-center mt-4">
                    © 2021. All copyrights reserved by RH Agency
                </div>
            </div>
            
        </footer>
    </div>
    <script>
       $(document).ready(function() {
        $(".burger").click(function() {
          $(".cross").css('display',"flex");
          $('.menu').slideToggle(300, function(){
            if($(this).css('display') === "none"){
                $(".menu").css('display','flex');
            }
          });
          $(this).css('display','none');
        });
        $(".cross").click(function() {
          $(".burger").css('display',"flex");
          $('.menu').slideToggle(300, function(){
                 $(this).removeAttr('style');
            $('.burger').removeAttr('style'); 
                          
          });
          $(this).css('display','none');
        });
    })

        
    
    </script>
    
</body>
</html>